@import '../../global.scss';

.containerBox {
    position: relative;
    //width: 100%;
    height: 600px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.slide {
    box-sizing: border-box;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    height: inherit;

}

// @media (min-width: 576px) {
//     .containerBox {
//         max-width: 540px;
//     }
// }

// @media (min-width: 768px) {
//     .containerBox {
//         max-width: 720px;
//     }
// }

// @media (min-width: 992px) {
//     .containerBox {
//         max-width: 960px;
//     }
// }

@media (min-width: 1200px) {
    .containerBox {
        max-width: 1140px;
        height: 100%;
    }
}