@import '../../global.scss';

.containerBox {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.arrowTop {
  position:fixed;
  bottom: 30px;
  right: 30px;
  background-color: rgb(255, 255, 255, 0.5);
  z-index: 2;
  & img {
    padding: 10px;
  }
}

.carouselBox {
  position: relative;
}

.mainText {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
  & h2 {
    color: #fff;
  }
  & p {
    color: #fff;
  }
}

.arrow {
  position: absolute;
  left: calc(50% - 50px);
  z-index: 2;
  animation: arrowDown 1s infinite;
}

@keyframes arrowDown {
  0% {
    bottom: 45px;
    //opacity: 1;
  }

  50% {
    bottom: 30px;
    //opacity: 1;
  }

  100% {
    bottom: 15px;
    //opacity: 1;
  }
}

.serviceBox {
  background: #fff;
  padding-top: 115px;
  padding-bottom: 24px;
}

.galleryBox {
  padding-top: 107px;
  width: 100%;
}

.aboutBox {
  background: #fff;
  padding-top: 107px;
  padding-bottom: 104px;
}

.reviewsBox {
  position: relative;
  padding-top: 117px;
  padding-bottom: 114px;
  background: url('../../assets/image/carousel/carousel_1.webp') 50%/cover no-repeat;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13,11,24,.7);
}

.numbers {
  background: #fff;
  padding-top: 107px;
}

.blog {
  width: 100%;
  margin: 80px 0 0 0;
}

.contact {
  background: #ffffff;
  padding-top: 81px;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #143861;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #003e85;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

@media (max-width: 992px) {
  .arrow img {
    width: 50px;
    height: 50px;
  }
}
