@import '../../global.scss';

.windowBox {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.slides {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    align-items: center;
    transition: translate;
    transition-property: transform;
    transition-timing-function: ease-in-out;
}

.arrow {
    position: absolute;
    top: 45%;
    font-size: 40px;
    color: rgba(110, 110, 110, 0.2);
    cursor: pointer;
}

.right {
    right: 40px;
}

.left {
    left: 40px;
    z-index: 2;
}

// @media (min-width: 576px) {
//     .containerBox {
//         max-width: 540px;
//     }
// }

// @media (min-width: 768px) {
//     .containerBox {
//         max-width: 720px;
//     }
// }

// @media (min-width: 992px) {
//     .containerBox {
//         max-width: 960px;
//     }
// }

// @media (min-width: 1200px) {
//     .containerBox {
//         max-width: 1140px;
//     }
// }