@import '../../global.scss';

.iconBox {
  flex: 0 0 50%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    & img {
        width: 15%;
        height: 100%;
    }
    & img:first-child {
      border-radius: 50%;
  }
}

@media (min-width: 768px) {
  .iconBox {
    justify-content: space-between;
    & img {
      width: 25%;
      height: 100%;
  }
}
}