@import '../../global.scss';

.iconBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    & img {
        width: 25%;
        height: 100%;
    }
    & img:first-child {
      border-radius: 50%;
  }
}